In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# load in all the data from hackathon_data folder

easy_movies_df = pd.read_csv('hackathon_data/easy-movies.csv')
easy_restaurants_df = pd.read_csv('hackathon_data/easy-restaurants.csv')
medium_laptops_df = pd.read_csv('hackathon_data/medium-laptops.csv')
medium_social_media_df = pd.read_csv('hackathon_data/medium-social media.csv')
hard_kindle_books_df = pd.read_csv('hackathon_data/hard-kindle books.csv')
hard_marketing_df = pd.read_csv('hackathon_data/hard-marketing.csv')
hard_tweets_df = pd.read_csv('hackathon_data/hard-tweets.csv')

# Easy Movies (example)

In [4]:
# a starting point for the analysis of easy_movies
easy_movies_df.head()

,movie_name,year_of_release,category,run_time,genre,imdb_rating,votes,gross_total
0,The Godfather,1972,R,175,"Crime, Drama",9.2,1250000,$134.97M
1,Lambs the of Silence The,1991,R,'118',"Crime, Drama, Thriller",8.6,1250000,$130.74M
2,Back Strikes Empire The - V Episode Wars: Star,1980,R,124,"Action, Adventure, Fantasy",8.7,1250000,$290.48M
3,The Shawshank Redemption,1994,R,142,Drama,9.3,1250000,$28.34M
4,The Shining,1980,R,146,"Drama, Horror",8.4,1025560,$44.02M

In [6]:
easy_movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   movie_name       99 non-null     object
 1   year_of_release  99 non-null     int64
 2   category         99 non-null     object
 3   run_time         99 non-null     object
 4   genre            99 non-null     object
 5   imdb_rating      99 non-null     float64
 6   votes            99 non-null     int64
 7   gross_total      98 non-null     object
dtypes: float64(1), int64(2), object(5)
memory usage: 6.3+ KB

In [7]:
easy_movies_df.describe()

       year_of_release  imdb_rating         votes
count        99.000000    99.000000  9.900000e+01
mean       1988.636364     6.684848  8.122449e+05
std          20.326646     3.396978  3.747300e+05
min        1931.000000     0.000000  1.074800e+04
25%        1979.000000     7.750000  5.105850e+05
50%        1995.000000     8.300000  8.348420e+05
75%        2003.000000     8.500000  1.224917e+06
max        2015.000000     9.300000  1.250000e+06

In [8]:
easy_movies_df.describe(include='all')

,movie_name,year_of_release,category,run_time,genre,imdb_rating,votes,gross_total
count,99,99.000000,99,99,99,99.000000,9.900000e+01,98
unique,99,NaN,1,65,55,NaN,NaN,98
top,The Godfather,NaN,R,127,Drama,NaN,NaN,$134.97M
freq,1,NaN,99,4,8,NaN,NaN,1
mean,NaN,1988.636364,NaN,NaN,NaN,6.684848,8.122449e+05,NaN
std,NaN,20.326646,NaN,NaN,NaN,3.396978,3.747300e+05,NaN
min,NaN,1931.000000,NaN,NaN,NaN,0.000000,1.074800e+04,NaN
25%,NaN,1979.000000,NaN,NaN,NaN,7.750000,5.105850e+05,NaN
50%,NaN,1995.000000,NaN,NaN,NaN,8.300000,8.348420e+05,NaN
75%,NaN,2003.000000,NaN,NaN,NaN,8.500000,1.224917e+06,NaN
max,NaN,2015.000000,NaN,NaN,NaN,9.300000,1.250000e+06,NaN